body{
   font-family: 'Exo 2', 'sans-serif';
   background-image: linear-gradient(to right top, #391c77, #410f58, #3d093c, #310826, #220716, #230c12, #231110, #221511, #302213, #353416, #2d4725, #005b44);
   }
  .btn-success {
   color: #000000;
   background-color: #39FF14 !important;
   } 
   .text-success {
   color: #39FF14 !important;
   }
   .text-danger {
   color: #FF0734 !important;
   }
