@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.judul {
  font-family: 'Press Start 2P';
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #6E52FF;

  
}

body{
   font-family: 'Exo 2', 'sans-serif';
   background: linear-gradient(to right bottom, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 70%, #6E52FF 70%, #1F8EFF);
   width: 100vw;
   height: 100vh;
}
  .btn-success {
   color: #000000;
   background-color: #39FF14 !important;
   } 
   .btn-outline-light {
   background-image: linear-gradient(90deg,#1c1c1c,#4c4c4c);
   } 
   .text-success {
   color: #39FF14 !important;
   }
   .text-danger {
   color: #FF0734 !important;
   }

.btn-cool {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 35px;
  font-size: 0.7rem;
  line-height: 20px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,#4c4c4c);
  border: 1px solid #fff;
  overflow: hidden;
}

.btn-cool:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}
