body{
   font-family: 'Exo 2', 'sans-serif';
   background-image: linear-gradient(to right top, #391c77, #37236b, #35295f, #342d52, #343045, #313446, #313846, #323b45, #254350, #0a4c55, #005451, #005b44);
   }
  .btn-success {
   color: #000000;
   background-color: #39FF14 !important;
   } 
   .text-success {
   color: #39FF14 !important;
   }
   .text-danger {
   color: #FF0734 !important;
   }
